@import "../../../../scss/mixins.scss";
@import "../../../../scss/variables";

.list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 calc(50px - $widthScrollbar) 50px 50px;
  position: relative;
  gap: 30px;
}

.control-block {
  display: flex;
  margin-right: $widthScrollbar;

  .book-mark {
    @include bookmark();
  
    &:last-child {
      margin-left: auto;
    }
  }

  a.book-mark {
    transition: background-color .3s ease-out;
    text-decoration: none;
    color: $colorLink;

    &:hover,
    &.active {
      background-color: $colorLinkHover;
    }
  }
}

.list-block {
  @include scrollbar();
  flex: 1 1 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.empty {
  font-size: 4rem;
  margin-top: 20px;
  text-align: center;
}
