@import "../../../../scss/variables.scss";

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: $colorOrderItemBack;
  min-height: 50px;
  font-size: 2rem;
  border-radius: 10px;
}

.info-content {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 30px;
}

.comment-block {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input {
  background-color: $colorBack;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  font-size: 2rem;
  border: none;
  padding: 0 10px;
}

.not-found {
  margin: auto;
}
