@import "../../../../scss/variables.scss";
@import "../../../../scss/mixins.scss";

.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 10px;
  background-color: $colorSecondary;
  box-shadow: $boxShadow;
  min-height: 69px;
  font-size: 2rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.info-content {
  @include gridTableLayout();
  align-items: center;

  span {
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:first-child) {
      text-align: center;
    }
  }
}

.count-block {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4rem;
  width: 2.4rem;
  border: 1px solid $colorBorder;
  border-radius: 5px;
  font-size: 1.8rem;
  cursor: pointer;
}

.input {
  background-color: $colorContentLight;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  font-size: 2rem;
  border: none;
  padding: 0 5px;
}

.not-found {
  margin: auto;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 85px;
  border: none;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorDanger;
  color: $colorContentLight;
  transform: translate(100%, 0);
  transition: transform .3s ease;

  &.active,
  &:focus {
    transform: translate(0);
  }
}
