@import "../../../../scss/variables.scss";
@import "../../../../scss/mixins.scss";

.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: $colorOrderItemBack;
  min-height: 50px;
  font-size: 2rem;
  border-radius: 10px;
}

.info-content {
  @include gridTableLayout();
  align-items: center;
  height: 30px;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.input {
  background-color: $colorBack;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  font-size: 2rem;
  border: none;
  padding: 0 10px;
}

.not-found {
  margin: auto;
}
