@import "./variables.scss";

@mixin gridTableLayout {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr 2fr;
  gap: 10px;

  span:last-child {
    text-align: end;
  }
}

@mixin bookmark {
  background-color: $colorApp1;
  font-size: 2rem;
  height: 50px;
  padding: 0 25px;
  display: flex;
  align-items: center;
}
