$colorPrimary: #520383;
$colorSecondary: #FAD00A;
$colorSecondaryHover: #F5D56C;
$colorSecondaryActive: #E0BA00;

$colorBorder: #000000;

$colorApp1: #FFC632;
$colorApp2: #43B85C;

$colorOrderItemBack: #AEAEAE;

$heightProductCardTitle: 50px;

$border1: 10px solid $colorApp1;
