$colorPrimary: #520383;
$colorSecondary: #FFC632;
$colorSecondaryHover: #F5D56C;
$colorSecondaryActive: #E0BA00;

$colorContentLight: #FFFFFF;

$colorLinkHover: #FAE36F;

$colorBack: #DEDEDE;
$colorBorder: #949494;

$colorAuthPage: #FAD00A;

$colorSuccess: #43B85C;
$colorDanger: #FF0000;
$colorDangerDark: #D26E6E;

$colorScrollbar: #949494;
$colorScrollbarHover: #BABABA;

$colorLink: #000000;

$colorOverlay: #0000004d;
$colorBoxShadow: #00000040;

$heightDishCardTitle: 50px;

$widthPageBorder: 10px;
$pageBorder: $widthPageBorder solid $colorSecondary;

$widthScrollbar: 10px;

$boxShadow: 0 4px 4px 0 $colorBoxShadow;

$headerHeight: 100px;
