.page-block {
  height: 100%;
  width: 100%;
  padding: 45px 25px 30px 35px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 4rem;
}

.orders-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}
