@import '../../scss/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $colorSecondary;
  height: 100px;

  .nav {
    .nav-list {
      display: flex;
      list-style: none;

      .element {
        & > * {
          padding: 3rem;
          border-radius: 10px;

          &:hover {
            background-color: $colorSecondaryHover;
          }

          &:active {
            background-color: $colorSecondaryActive;
          }
        }
      }
    }
  }

  .icon {
    font-size: 32px;
    color: $colorPrimary;
  }

  .user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3rem;
    font-weight: 400;
  }
}