@import '../../scss/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $colorSecondary;
  height: $headerHeight;
  padding: 0 3rem;

  .nav {
    .nav-list {
      display: flex;
      list-style: none;
    }
  }

  .link {
    &.active {
      background-color: $colorLinkHover;
    }
  }

  .icon {
    font-size: 32px;
    color: $colorLink;
  }

  .link,
  .user {
    padding: 0 3rem;
    height: $headerHeight;
    font-size: 2.4rem;
    transition: background-color .3s ease-out;

    &:hover,
    &:active {
      background-color: $colorLinkHover;
    }
  }

  .user {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: none;
    background-color: $colorSecondary;
  }
}