@import "../../../../scss/variables.scss";
@import "../../../../scss/mixins.scss";

.aside-bar {
  width: 700px;
  border-right: $pageBorder;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.control-block {
  display: flex;
  justify-content: space-between;
  margin: 0 calc(30px - 1rem) 0 30px;

  .book-mark {
    @include bookmark();
  }

  button.book-mark {
    cursor: pointer;
    transition: background-color .3s ease-out;

    &:hover,
    &.active {
      background-color: $colorLinkHover;
    }
  }
}

.table-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 calc(30px - 1rem) 10px 30px;

  .head {
    @include gridTableLayout();
    padding: 0 15px 0 10px;
    border-bottom: 3px solid $colorSecondary;
    font-size: 2.6rem;

    span:not(:first-child) {
      text-align: center
    }
  }

  .list {
    @include scrollbar();
    padding: 0 0.5rem 5px 0;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 20px;
  }

  .empty {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
}

.conclusive {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0 15px 10px;
  background-color: $colorSecondary;

  .sum {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 4rem;
    background-color: $colorContentLight;
    @include borderOut($borderRadius: 10px);
  }
}

.create-btn {
  height: 60px;
  width: 100%;
}
