@import "../../../../scss/variables.scss";
@import "../../../../scss/mixins.scss";

.dish {
  background-color: $colorContentLight;
  padding: 0 10px;
  height: 50px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include borderOut($borderRadius: 10px);
}

.title-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 100%;
}

.comment {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 100%;
}

.count {
  font-size: 2.8rem;
}
